{% extends "index.html" %}
{% block title %}NG-IDS{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{url_for('static', filename='chart.js')}}"></script><link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/><script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
{% endblock %}
{% block content %}

<script>document.querySelector('#nav-ngids').classList.add('active');</script>


  <div class="main">


      <div style="display: block;">
        <div class="card" id="assets" style="width:95em;margin-right: 25px;height: 65%!important;background-color: #FED8B1!important;color: black;">
          <span class="card-title">Global Attack Map</span>
          <br/><br/><br/>
          <div style="height:90%!important;margin: 0 auto!important;width: 100%!important;" id="map">

     <script>
const map = L.map('map', {
  center: [40.5937, 78.9629],
  zoom: 3
});

const wmsLayer = L.tileLayer.wms('https://bhuvan-vec2.nrsc.gov.in/bhuvan/wms', {
  layers: 'lulc:BR_LULC50K_1112'
});

const mbUrl = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}';
const baseLayer = L.tileLayer(mbUrl, {id: 'mapbox.streets'});

// Create a layer group and add both layers to it
// const layerGroup = L.layerGroup([wmsLayer, baseLayer]).addTo(map);

baseLayer.addTo(map);

     </script>
          </div>
          </div>

        </div>
        <br/>

    <div class="row">
        <div class="card" id="assets" style="width:20em;margin-right: 25px;margin-bottom: 10px!important;height: 35%!important;">
          <span class="card-title">Anomalies Identified</span>
          <br/><br/><br/>
          <div style="height:50%!important;margin: 0 auto!important;">
          <canvas id="ipChart"></canvas>
          </div>

        </div>

        <div class="card" id="events" style="width:20em;margin-right: 25px">
        <span class="card-title">Identified Events</span>
        <br/><br/><br/>
        <canvas id="eventsChart"></canvas>
      </div>

      <div class="card" id="data" style="width:50em;margin-left: 25px;">
        <span class="card-title">Advanced Persistent Threats</span>
        <div class="row">
          <div style="width: 30%">
          <canvas id="aptChart"></canvas>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <table id="aptTable">
            <thead>
              <th>IP</th>
              <th>Time</th>
              <th>Threat</th>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>

<script>

        // Create the chart
        var ctx = document.getElementById('ipChart').getContext('2d');
        const mixedChart = new Chart(ctx, {
            data: {
                datasets: [{
                    type: 'line',
                    label: 'IP1',
                    data: [10, 15, 7, 20],
                    fill: true
                }, {
                    type: 'line',
                    label: 'IP2',
                    data: [5, 8, 12, 18],
                    fill: true
                }],
                labels: ['2024-01-01 12:00', '2024-01-01 12:15', '2024-01-01 12:30', '2024-01-01 12:45']
            }
        });
 
        // Create the chart
        var aptctx = document.getElementById('aptChart').getContext('2d');
        const aptChart = new Chart(aptctx, {
              data: {
                    labels: ['Unusual Trojan', 'Sizeable', 'Backdoor Trojan'],
                    datasets: [{
                        data: [30, 50, 20],
                        backgroundColor: ['rgba(255, 99, 132, 0.7)', 'rgba(54, 162, 235, 0.7)', 'rgba(255, 206, 86, 0.7)'],
                        borderColor: ['#fff', '#fff', '#fff'],
                        borderWidth: 2
                    }]
                },
                type: 'pie'
        });

        // Create the chart
        var eventsctx = document.getElementById('eventsChart').getContext('2d');
        const eventsChart = new Chart(eventsctx, {
              data: {
                    labels: ['Anomalies', 'APT', 'DDOS'],
                    datasets: [{
                        data: [30, 50, 20],
                        backgroundColor: ['rgba(255, 99, 132, 0.7)', 'rgba(54, 162, 235, 0.7)', 'rgba(255, 206, 86, 0.7)'],
                        borderColor: ['#fff', '#fff', '#fff'],
                        borderWidth: 2
                    }]
                },
                type: 'pie'
        });


function dash_showDiv() {
  var hiddenDiv = document.getElementsByClassName("indexOfContents")[0];
  hiddenDiv.style.display = "block";
  // Get the element with the ID "globeHere"
var globeElement = document.getElementById('globeHere');

// Select the last child div
var divsWithTouchActionNone = globeElement.querySelector('div:last-child');
    
      divsWithTouchActionNone.style.display = 'none';
  setTimeout(function() {
    hiddenDiv.style.opacity = 1;
    hiddenDiv.style.transform = "scale(1)";
  }, 10);
}

function dash_hideDiv() {
  var hiddenDiv = document.getElementsByClassName("indexOfContents")[0];
  hiddenDiv.style.opacity = 0;
  hiddenDiv.style.transform = "scale(0)";
  // Get the element with the ID "globeHere"
var globeElement = document.getElementById('globeHere');

// Select the last child div
var divsWithTouchActionNone = globeElement.querySelector('div:last-child');
      
      divsWithTouchActionNone.style.display = 'block';
  setTimeout(function() {
    hiddenDiv.style.display = "none";
  }, 300);
}

  </script>

<script>

// Function to scroll to the target anchor minus the height of the 'indexOfContents' div
  function scrollToAnchor(anchorId) {
    var offset = document.querySelector('.indexOfContents').offsetHeight;
    var targetElement = document.getElementById(anchorId);
    
    if (targetElement) {
      var targetPosition = targetElement.offsetTop - offset;
      
      window.scrollTo({
        top: targetPosition,
        behavior: 'smooth'
      });
    }
  }

  // Attach click event listeners to the links
  document.querySelectorAll('.card-desc a').forEach(function(link) {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      var anchorId = this.getAttribute('href').substring(1); // Remove the '#' from the href
      scrollToAnchor(anchorId);
    });
  });

</script>

{% endblock %}